# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Images
*.png
*.jpg
*.bmp
!nice_example/* # These are quite useful for me to debug
!useData/*.png # Some output results (that I just don't want to loose)

# Data files
*.dat

# To build - these are specific for each arch
*build/*

# My personal working files
resources/

# Large files
media/
small_media/*
test_media/
