# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Images
*.png
*.jpg

# To build - these are specific for each arch
*build/*

# 
doc/

# Large files
media/
small_media/*
test_media/
data/*/*.dat
